:root {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

.color {
    background-color: #769381;
}

.page-header {
    margin-left: 4%;
    margin-right: 4%;
    height: 50vh;
}

@media (min-width: 577px){
    .page-header {
        height: 100vh;
    }
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.title {
    color: #FBFFFD;
    padding-top: 4.7%;
    font-size: 1.44em;
}

.right-headline {
    float: right;
}

.details {
    margin-top: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 3.18em;
}

.details-text {
    font-size: 1em;
    max-width: 30.3em;
    max-height: 5em;
    color: #FBFFFD;
    text-align: justify;
    margin: 0;
}

.details-link {
    display: none;
}

@media (min-width: 577px) {
    .details-link {
        display: block;
    }
}

.details-link {
    text-decoration: none;
    color: #FBFFFD;
}

.container {
    margin: 4% 4%;
}

.photos {
    column-count: 1;
    column-gap: auto;
    width: 100%;
    margin: 0 auto;
}

@media (min-width: 768px) and (max-width: 999px) {
    .photos {
        column-count: 2;
    }
}

@media (min-width: 1000px) {
    .photos {
        column-count: 3;
    }
}

.item {
    max-width: 100%;
    margin-bottom: 4%;
}

@media (min-width: 768px) and (max-width: 999px) {
    .item {
        max-width: 100%;
        margin-bottom: 8%;
    }
}

@media (min-width: 1000px) {
    .item {
        margin-bottom: 12%;
    }
}

.item img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}
